* {
    padding: 0;
    margin: 0 auto;
    font-family: Avenir;
}

body {}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #bbbbbb4d;
    margin-bottom: 40px;
    max-width: 1200px;
}

header img {
    width: 170px;
    height: auto;
}

header h1{
    font-weight: 400;
}

footer {
    display: grid;
    align-items: center;
    padding: 20px 0px;
    margin: 150px 0 0 0;
    border-top: 1px solid #bbbbbb4d;
    margin: auto;
    margin-top: 100px;
    max-width: 1200px;
}

footer section:last-child {
    margin-top: 650px;
}

#menu {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    align-items: center;
    padding-bottom: 50px;
    max-width: 1200px;
}

#menu section {
    width: 300px;
    padding: 25px;
    background-color: #00000005;
    border-radius: 3px;
}

#menu section img {
    height: 60px;
    width: auto;
    margin-bottom: 5px;
}

#menu section h2 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

#menu section button {
    margin-top: 15px;
    background-color: #009432;
    border: none;
    color: #ffff;
    padding: 7px 13px;
    font-size: 0.8em;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}

.resultatencontainer {
    background-color: #009432;
}

.resultaten {
    display: none;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #009432;
    max-width: 1200px;
}

.resultaten a {
    color: #000;
    text-decoration: none;
}

.resultaten section {
    background-color: #ffff;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 50px 0px;
    padding: 20px;
}

.resultaten section img {
    height: auto;
    width: 40px;
}

.resultaten section h2 {
    font-size: 1em;
}

.resultaten section p {
    font-size: 0.8em;
}

.resultaten section p:nth-child(3) {
    font-weight: bold;
    position: absolute;
    left: 15px;
    top: 10px;
}

.resultaten section p:nth-child(4) {
    color: #009432;
    position: absolute;
    left: 25px;
    bottom: 10px;
    font-size: 0.6em;
    font-weight: bold;
}

.resultaten section div:nth-child(1) {
    width: 100px;
    text-align: center;
}

.resultaten section div:nth-child(2) {
    width: 300px;
}

#gras1 {
    margin-top: -10px;
    transform: rotate(180deg);
    width: 100%;
}

#gras2 {
    margin-bottom: -10px;
    width: 100%;
}

#gras3 {
    margin-top: -10px;
    transform: rotate(180deg);
    width: 100%;
}

.form {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 70px;
    height: 100%;
    display: none;
}

#zoeken {
    background-color: #ffff;
    border: none;
    color: #009432;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 5px;
    bottom: 15px;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
    border: 2px solid #009432;

}

#reset {
    display: none;
    background-color: #ffff;
    border: none;
    color: #009432;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 4px;
    bottom: 100px;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
    border: 2px solid #009432;

}

#sluiten {
    background-color: #ffff;
    border: none;
    color: #009432;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 4px;
    top: 15px;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
    border: 2px solid #009432;

}

#zoekInput {
    position: fixed;
    right: 55px;
    bottom: 15px;
    height: 36px;
    width: 240px;
    z-index: -1;
    display: none;
    padding: 10px;
    border: 2px solid #009432;
}

.toonZoek {
    position: fixed;
    animation: toonZoek 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    display: block !important;
}

@keyframes toonZoek {
    0% {
        width: 0px;
    }

    25% {}

    100% {
        width: 240px;
    }
}

.displayBlock {
    display: block;
}

#hamburger {
    display: none;
}

@media only screen and (max-width: 1363px) {

    #menu section,
    .resultaten section {
        width: 250px;
    }

    .resultaten section {
        margin: 40px 20px;
    }

    .resultaten {
        justify-content: center;
    }
}

@media only screen and (max-width: 1063px) {
    #menu {
        justify-content: center;
    }

    #menu section {
        margin: 0px 20px;
    }

    #menu,
    .resultaten {
        grid-template-columns: auto auto;
        grid-column-gap: 0px;
    }
}

@media only screen and (max-width: 650px) {
    
    header img {
    width: 130px;
    height: auto;
}


    #menu section,
    .resultaten section {
        width: 190px;
    }

    .resultaten section p {
        font-size: 0.6em;
    }

    #hamburger {
        display: none;
        width: 60px;
        height: 60px;
        position: fixed;
        right: 4px;
        top: 15px;
        border: none;
        background-color: #009432;
        color: #ffff;
        font-size: 2em;
        z-index: 999;
    }
}

@media only screen and (max-width: 500px) {
    header img {
    width: 100px;
    height: auto;
}

    
    #menu {
        grid-template-columns: auto;
    }

    #menu section {
        width: 300px;
    }

    #menu section {
        height: 280px;
        position: relative;
    }

    #menu section img {
        margin-bottom: 20px;
    }

    #menu section button {
        font-size: 0.8em;
        position: absolute;
        bottom: 20px;
    }

    .resultaten {
        grid-template-columns: auto;
    }

    .resultaten section {
        width: 300px;
    }

    #menu section button {
        font-size: 1.2em;
    }

    header h1 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 380px) {

    #menu,
    .resultaten {
        grid-template-columns: auto;
    }

    #menu section {
        width: 250px;
        height: 270px;
    }

    .resultaten section {
        width: 250px;
    }
}
